* {
    border-radius: 30px;
}

body {
    color: #333;
    font-family: "Barlow", Helvetica, monospace;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    min-width: 320px;
}

p {
    font-size: 20px;
}

i {
    font-weight: 400;
}

.title {
    padding: 5px 0 0 0;
    display: flex;
    flex-direction: column;
}

/*themes*/
:root {
    --primary-color: #101010;
    --secondary-color: #10101075;
}

.green-theme {
    --primary-color: #006652;
    --secondary-color: #00665275;
}

.red-theme {
    --primary-color: #b80a44;
    --secondary-color: #b80a4475;
}

.yellow-theme {
    --primary-color: #cc8808;
    --secondary-color: #cc880875;
}

.blue-theme {
    --primary-color: #233fbb;
    --secondary-color: #233fbb75;
}

/*end*/

.navigation-bar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.navigation-tab {
    margin: 10px;
    padding: 10px;
    min-height: 20px;
    text-align: center;
    align-content: center;
    color: var(--secondary-color);
    background-color: white;
    border: 2px solid var(--secondary-color);
    transition-duration: 300ms;
    text-decoration: none;
    font-weight: 500;
}

.selected-tab {
    color: white;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.navigation-tab:hover {
    color: white;
    background-color: var(--secondary-color);
}

.container {
    padding: 10px;
    display: grid;
    grid-template-columns: 60% 35%;
    gap: 20px;
    justify-content: center;
}

.gallery {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 30px;
    background-color: #f5f5f5;
    border: 1px solid #10101025;
    align-items: center;
    justify-items: center;
}

.gallery-button {
    height: 40px;
    width: 40px;
    margin: 10px;
    background-color: var(--primary-color);
    border-radius: 50%;
    opacity: 50%;
    transition-duration: 300ms;
    cursor: pointer;
}

.gallery-button:hover {
    opacity: 100%;
}

.slide {
    align-self: center;
    overflow: hidden;
    box-shadow: #10101010 0 0 30px;
    border: 1px solid #10101050;
    border-radius: 15px;
    min-height: 375px;
    min-width: 500px;
}

.img-wrapper {
    transition: all 300ms ease-in-out;
    display: flex;
    height: 375px;
    width: 500px;
}

.gallery-img {
    align-items: center;
    border-radius: 0px;
    height:100%;
    width: auto;
    cursor: pointer;
}

.info-bar {
    grid-area: 1 / 2 / 2 / 2 ;
    padding: 30px;
    background-color: #f5f5f5;
    border: 1px solid #10101015;
    align-content: center;
}

.bigtext {
    font-weight: 700;
    line-height: 130%;
    font-size: 24px;
    color: var(--primary-color);
}

b {
    color: var(--primary-color);
    font-weight: 600;
}

.hire-prompt {
    grid-area: 2 / 2 / 3 / 3;
    padding: 30px;
    background-color: #f5f5f5;
    border: 1px solid #10101015;
    align-content: center;
}

.button-img {
    width: 50px;
    margin: 0 30px;
    padding: 0;
}

.button-txt {
    text-align: center;
}

.freelancer-button, .fiverr-button {
    text-decoration: none;
    display: grid;
    grid-template-columns: 50px 1fr;
    height: 50px;
    align-items: center;
    color: white;
    margin: 10px 0;
    transition-duration: 300ms;
    border: 2px solid #10101000;
}

.freelancer-button {
    background-color: #29b2fe;
}

.fiverr-button {
    background-color: #1dbf73;
}

.freelancer-button:hover, .fiverr-button:hover {
    border: 2px solid var(--primary-color);
}

/* image window for zoomed-in view */

.img-window{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #ffffffcc;
    top: 0%;
    left: 0%;
    display: flex;
    border-radius: 0;
    opacity: 0;
    visibility: collapse;
}

.selected-img {
    align-items: center;
    justify-self: center;
    max-width: 96%;
    max-height: 96%;
    margin: auto;
    flex-basis: 1;
    border-radius: 10px;
    box-shadow: #10101030 0 0 30px;
    
}

.close-button {
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--primary-color);
    position: absolute;
    top: 5%;
    right: 5%;
    text-align: center;
    transition: all 100ms ease;
}

.close-button:hover {
    transform: scale(110%);
    cursor: pointer;
}

/* about page's reviews section */

.about-me {
    margin: 10px;
    padding: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
}

.reviews {
    line-height: 160%;
    margin: 20px 40px;
}
.flag {
    height: 18px;
    border-radius: 50%;
    margin-right: 10px;
}

.stars {
    height: 20px;
    margin-left: 10px;
}

hr {
    margin: 30px 0;
}

.project-page {
    font-size: 16px;
    float: right;
    height: auto;
    width: 120px;
    margin: 20px;
    text-align: center;
    align-content: center;
    color: var(--secondary-color);
    background-color: white;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    transition-duration: 300ms;
    text-decoration: none;
    font-weight: 500;
}

.project-page:hover {
    color: white;
    background-color: var(--primary-color);
}

.about-wrapper {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 0fr 1fr;
    padding: 30px;
    gap: 20px;
}

.photo-wrapper {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    align-items: center;
   
}

.my-photo {
    margin-right: 20px;
    border: 1px solid var(--secondary-color);
}

@media screen and (max-width: 960px){
    .container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .about-wrapper {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 1200px){
    .slide {
        min-height: 300px;
        min-width: 400px
    }
    
    .img-wrapper {
        height: 300px;
        width: 400px;
    }
}

@media screen and (max-width: 600px){

    * {
        font-size: 16px;
    }

    .hire-prompt, .about-wrapper, .info-bar, .gallery {
        padding: 20px;       
    }

    .navigation-bar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px;
    }

    .slide {
        min-height: 180px;
        min-width: 240px
    }
    
    .img-wrapper {
        height: 180px;
        width: 240px;
    }

    .gallery-button {
        width: 30px;
        height: 30px;
    }

    .close-button {
        top: 90%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}
